<div class="modal fade" id="RapidRequest" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticRapidRequestLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h1 class="modal-title fs-5">Import richieste di trasporto</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <div class="d-flex d-flex-row mt-1">
               <div class="flex-grow-1">
                  <label for="rrequest" class="form-label">Richieste di trasporto da importare</label>
                  <textarea class="form-control" id="rrequest" name="rrequest" required></textarea>
               </div>
            </div>
         </div>
         <div class="modal-footer">
            <div class="spinner-border" role="status" id="wait" hidden>
            </div>
            <button type="button" class="btn btn-secondary" id="cancel" data-bs-dismiss="modal">
               <i class="bi bi-x-square"></i>
            </button>
            <button type="button" class="btn btn-success" id="import" onclick="modalRapidSubmit(2);">
               <i class="bi bi-upload"></i>
            </button>
         </div>
      </div>
   </div>
</div>