<div class="modal fade" id="RapidWorkday" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticRapidWorkdayLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h1 class="modal-title fs-5">Consuntivazione rapida</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <div class="d-flex d-flex-row">
               <div class="css-flex-70">
                  <label for="rwdate" class="form-label">Data</label>
                  <input type="datetime-local" class="form-control" id="rwdate" name="rwdate" value="{{data.rdate}}"
                         required>
               </div>
               <div class="flex-grow-1 ms-2">
                  <label for="rwhour" class="form-label">Ore</label>
                  <input type="number" class="form-control" id="rwhour" name="rwhour" min="1" max="8" step="0.5"
                         value="1" required>
               </div>
            </div>
            <div class="d-flex d-flex-row">
               <div class="flex-fill">
                  <label for="rwplace" class="form-label">Località</label>
                  <label class="css-font-size-75">(è possibile selezionare uno di questi luoghi:
                     <label class="link-primary" onclick="setPlace(1);">Casa</label>,
                     <label class="link-primary" onclick="setPlace(2);">Ufficio</label> o
                     <label class="link-primary" onclick="setPlace(3);">Cliente</label>)
                  </label>
                  <input type="text" class="form-control" id="rwplace" name="rwplace" required>
               </div>
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
               <i class="bi bi-x-square"></i>
            </button>
            <button type="button" class="btn btn-success" onclick="modalRapidSubmit(1);">
               <i class="bi bi-floppy"></i>
            </button>
         </div>
      </div>
   </div>
</div>

<script>
   function setPlace(value) {
      let place = document.querySelector('#rwplace');
      switch(value) {
         case 1:
            place.value = "Casa";
            break;
         case 2:
            place.value = "Ufficio";
            break;
         default:
            place.value = "Cliente (definire)";
      }
   }
</script>