<form id="form" action="/customer/0" method="post">

   <!-- Customer data -->
   <div class="d-flex d-flex-row">
      <div class="css-flex-8">
         <label for="id" class="form-label">Cliente</label>
         <input type="number" class="form-control" id="id" value="0" disabled>
      </div>
      <div class="flex-grow-1 ms-2">
         <label for="description" class="form-label">Descrizione</label>
         <input type="text" class="form-control css-uppercase" id="description" name="description"
                value="{{data.description}}"
                maxlength="40" required>
      </div>
   </div>

   <!-- Save  & Cancel operation -->
   <div class="d-flex d-inline-row justify-content-center mt-2">
      <button type="submit" class="btn btn-success me-1">
         <i class="bi bi-floppy"></i>
      </button>
      <a href="/customer" type="button" class="d-inline-flex btn btn-secondary">
         <i class="bi bi-x-square"></i>
      </a>
   </div>
   {{> Error}}
</form>