.css-dropdown {
   font-size: 1.5rem;
}

.css-title {
   font-size: 1.5rem;
   font-style: italic;
}

.css-flex-3 {
   flex-basis: 3%;
}

.css-flex-5 {
   flex-basis: 5%;
}

.css-flex-7 {
   flex-basis: 7%;
}

.css-flex-8 {
   flex-basis: 8%;
}

.css-flex-10 {
   flex-basis: 10%;
}

.css-flex-15 {
   flex-basis: 15%;
}

.css-flex-20 {
   flex-basis: 20%;
}

.css-flex-30 {
   flex-basis: 30%;
}

.css-flex-40 {
   flex-basis: 40%;
}

.css-flex-45 {
   flex-basis: 45%;
}

.css-flex-50 {
   flex-basis: 50%;
}

.css-flex-54 {
   flex-basis: 54%;
}

.css-flex-60 {
   flex-basis: 60%;
}

.css-flex-70 {
   flex-basis: 70%;
}

.css-flex-75 {
   flex-basis: 75%;
}

.css-flex-80 {
   flex-basis: 80%;
}

.css-flex-85 {
   flex-basis: 85%;
}

.css-flex-90 {
   flex-basis: 90%;
}

.css-flex-95 {
   flex-basis: 95%;
}

.css-font-size-75 {
   font-size: 75%;
}

.css-font-size-85 {
   font-size: 85%;
}

.css-font-size-90 {
   font-size: 90%;
}

.css-font-size-95 {
   font-size: 95%;
}

.css-listgroup-item {
   padding: 3px 10px;
}

.css-disabled-link {
   text-decoration: none;
   color: inherit;
}

.css-summarize {
   font-size: 70%;
}

.css-summarize-number {
   font-size: 60%;
}

.css-uppercase {
   text-transform: uppercase;
}