<h6>Gruppo attività</h6>
<ul class="list-group p-2 css-font-size-95">
   {{#each data}}
      <a href="/activitygroup/{{id}}" class="list-group-item list-group-item-action css-listgroup-item">
         <div class="d-flex flex-row align-items-center">
            <div class="css-flex-95">
               <p>{{description}}</p>
            </div>
            <div class="border-start css-flex-5 text-center">
               {{activity}}<br><span class="css-summarize-number">Attività</span>
            </div>
            <div class="border-start css-flex-5 text-center">
               {{hour}}<br><span class="css-summarize-number">Ore Tot.</span>
            </div>
         </div>
      </a>
   {{/each}}
</ul>
{{> Error}}